
header{
  height: 44px;
  background-image: linear-gradient(to bottom, #0a5c71, #063642);
  position: relative;

  nav{
    position: absolute;
    bottom: 2px;
    li{
      display: inline-block;
      margin: 0 15px;
      vertical-align: baseline;
      a{
        text-decoration: none;
        color: rgb(255, 255, 255);

        &:hover{
          color: #efc94c;
        }
      }
    }
  }
}